<header>
	<md-toolbar>
		<div layout="row" layout-align="start center" flex>
			<md-button class="md-icon-button" href="/userpatient" aria-label="back">
				<md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
			</md-button>
			<span class="mc-header-span">关于</span>
		</div>
	</md-toolbar>
</header>

<section class="mc-text">
	<div layout="column" layout-align="start center" flex>
		<img class="mc-portrait" ng-src="images/doctor_1.jpg" alt="关于"/>
		<span class="mc-user-font1">移动病房</span>
		<span class="mc-text">Copyright © 2016</span>
	</div>
</section>