<header>
	<md-toolbar>
		<div layout="row" layout-align="start center" flex>
			<md-button class="md-icon-button" href="/user" aria-label="back">
				<md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
			</md-button>
			<span class="mc-header-span">监护人授权码</span>
		</div>
	</md-toolbar>
</header>

<section class="mc-section" layout="column" layout-padding>
	<md-input-container class="mc-input-container">
		<label>授权监护人验证码</label>
		<input type="text" ng-model="gvcc.authorizationGuardianCode" disabled/>
	</md-input-container>
	<md-input-container class="mc-input-container">
		<label>普通监护人验证码</label>
		<input type="text" ng-model="gvcc.commonGuardianCode" disabled/>
	</md-input-container>
</section>