<header>
	<md-toolbar>
		<div layout="row" layout-align="start center" flex>
			<md-button class="md-icon-button" aria-label="back" href="/user">
				<md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
			</md-button>
			<span class="mc-header-span">修改密码</span>
		</div>
	</md-toolbar>
</header>

<section>
	<md-content layout-padding>
		<form name="changePasswordForm" layout="column" layout-align="start center" novalidate flex>
			<md-subheader>密码由6-20个字符组成,区分大小写！</md-subheader>
			<md-input-container class="mc-input-container">
				<label>旧密码(必填)</label>
				<input type="password" name="oldPassWord" ng-model="" required/>
			</md-input-container>

			<md-input-container class="mc-input-container">
				<label>新密码(必填)</label>
				<input type="password" ng-pattern="/^\S{6,}$/" md-maxlength="20" ng-model="model" name="newPassWord" required/>
				<div ng-messages="changePasswordForm.newPassWord.$error" role="alert" multiple>
					<div ng-message="pattern">6~20个字符，区分大小写！</div>
					<div ng-message="md-maxlength">不能超过20个字符！</div>
				</div>
			</md-input-container>

			<md-input-container class="mc-input-container">
				<label>确认新密码</label>
				<input type="password" name="newPassWordConfirm" ng-model="modell" match="" required/>
				<div ng-show="changePasswordForm.newPassWordConfirm.$error.match&&changePasswordForm.newPassWordConfirm.$dirty">两次输入密码不一致！</div>
			</md-input-container>

			<md-button class="md-raised md-primary mc-btn-width" ng-disabled="changePasswordForm.$invalid" ng-click="">确定</md-button>
		</form>
	</md-content>
</section>