<header>
	<md-toolbar>
		<div layout="row" layout-align="start center" flex>
			<md-button class="md-icon-button" href="/login" aria-label="back">
				<md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
			</md-button>
			<span>下一步(绑定设备)</span>
		</div>
	</md-toolbar>
</header>

<section layout="column" layout-align="start center" flex>
	<span class="mc-text">您的基本信息已经完善成功！请进入下一步绑定您的监测设备。</span>
	<md-button class="md-raised md-primary mc-btn-width" href="/registertb">下一步</md-button>
</section>