<header>
	<md-toolbar>
		<div layout="row" layout-align="start center" flex>
			<md-button class="md-icon-button" href="/login" aria-label="back">
				<md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
			</md-button>
			<span class="mc-header-span">下一步(基本信息)</span>
		</div>
	</md-toolbar>
</header>

<section layout="column" layout-align="start center" flex>
	<span class="mc-text">您的用户账号已注册成功！请进入下一步完善您的基本信息。</span>
	<md-button class="md-raised md-primary mc-btn-width" href="/patientinfoadd">下一步</md-button>
</section>