<header>
	<md-toolbar>
		<div layout="row" layout-align="start center" flex>
			<md-button class="md-icon-button" href="/login">
				<md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
			</md-button>
			<span>绑定设备</span>
		</div>
	</md-toolbar>
</header>

<section>
	<md-content layout-padding>
		<form name="terminalBindingForm" class="mc-content-top" layout="column" layout-align="start center" novalidate flex>
			<md-input-container class="mc-input-container">
				<label>设备序列号(必填)</label>
				<input type="text" name="serialNumber" ng-model="" required/>
			</md-input-container>
			<md-input-container class="mc-input-container">
				<label>设备注册验证码(必填)</label>
				<input type="text" name="verificationCode" ng-model="" required/>
			</md-input-container>
			<md-button class="md-raised md-primary mc-btn-width" ng-disabled="terminalBindingForm.$invalid" ng-click="">确定</md-button>
		</form>
	</md-content>
</section>