<header>
	<md-toolbar>
		<div layout="row" layout-align="start center" flex>
			<md-button class="md-icon-button" href="/home" aria-label="back">
				<md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
			</md-button>
			<span>视频监控</span>
		</div>
	</md-toolbar>
</header>

<section class="mc-section-camera" layout="column" layout-align="center center" flex>
	<video src="http://vshare.ys7.com:80/openlive/567095088_1_2.m3u8?ticket=MW5mcmNrajlISGwrOGdLMC9kNjl0WUUwc0hqZnc3WEgxRXhtU0JnTWtqRT0kMSQyMDE3MDMxNjA5MTUyOCQxNDU3OTMzNjkzMDAwJDE0ODk1NTYwOTMwMDAkMCQxNDU3OTMzNjkzMDAwJDE0ODk1NTYwOTMwMDAkMg==" width="80%" height="50%" controls="controls" autoplay="autoplay">视频无法播放。</video>
</section>