<header>
	<md-toolbar>
		<div layout="row" layout-align="start center" flex>
			<md-button class="md-icon-button" href="/homepatient" aria-label="back">
				<md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
			</md-button>
			<span class="mc-header-span">历史回顾</span>
		</div>
	</md-toolbar>
</header>

<section class="mc-section">
	<md-list>
		<md-list-item>
			<md-button class="mc-home-btn">
				<md-icon class="mc-home-icon" md-svg-icon="image:ic_photo_library_24px"></md-icon>
				<span class="mc-home-font1">趋势图回顾</span>
				<md-divider></md-divider>
			</md-button>
		</md-list-item>

		<md-list-item>
			<md-button class="mc-home-btn">
				<md-icon class="mc-home-icon" md-svg-icon="action:ic_view_list_24px"></md-icon>
				<span class="mc-home-font1">趋势表回顾</span>
				<md-divider></md-divider>
			</md-button>
		</md-list-item>

		<md-list-item>
			<md-button class="mc-home-btn">
				<md-icon class="mc-home-icon" md-svg-icon="image:ic_broken_image_24px"></md-icon>
				<span class="mc-home-font1">波形回顾</span>
				<md-divider></md-divider>
			</md-button>
		</md-list-item>
	</md-list>
</section>