<header>
	<md-toolbar>
		<div layout="row" layout-align="start center" flex>
			<span class="mc-text">功能</span>
		</div>
	</md-toolbar>
</header>

<section class="mc-section">
	<md-list layout="column" layout-align="start center" flex>
		<md-list-item class="mc-input-container">
			<md-button class="mc-home-btn" href="/physiologyparameter">
				<md-icon class="mc-home-icon" md-svg-icon="image:ic_photo_library_24px"></md-icon>
				<span class="mc-home-font1">生理参数</span>
				<md-divider></md-divider>
			</md-button>
		</md-list-item>

		<md-list-item class="mc-input-container">
			<md-button class="mc-home-btn" href="/historyreview">
				<md-icon class="mc-home-icon" md-svg-icon="action:ic_history_24px"></md-icon>
				<span class="mc-home-font1">历史回顾</span>
				<md-divider></md-divider>
			</md-button>
		</md-list-item>

		<md-list-item class="mc-input-container">
			<md-button class="mc-home-btn" href="/diagnosisinfo">
				<md-icon class="mc-home-icon" md-svg-icon="action:ic_info_outline_24px"></md-icon>
				<span class="mc-home-font1">诊断信息</span>
				<md-divider></md-divider>
			</md-button>
		</md-list-item>

		<md-list-item class="mc-input-container">
			<md-button class="mc-home-btn" href="/cameramonitoring">
				<md-icon class="mc-home-icon" md-svg-icon="av:ic_videocam_24px"></md-icon>
				<span class="mc-home-font1">视频监控</span>
				<md-divider></md-divider>
			</md-button>
		</md-list-item>

		<md-list-item class="mc-input-container mc-section">
			<md-button class="mc-home-btn" href="/guardianlist">
				<md-icon class="mc-home-icon" md-svg-icon="social:ic_people_24px"></md-icon>
				<span class="mc-home-font1">监护人</span>
				<md-divider></md-divider>
			</md-button>
		</md-list-item>
	</md-list>
</section>

<footer class="mc-footer">
	<md-list layout="row" layout-align="space-around center" flex>
		<md-list-item>
			<md-button class="mc-footer-btn" layout="column" layout-align="start center">
				<md-icon style="color: #3f51b5;" md-svg-icon="action:ic_dashboard_24px"></md-icon>
				<span style="color: #3f51b5;" class="mc-home-font2">功能</span>
			</md-button>
		</md-list-item>

		<md-list-item>
			<md-button class="mc-footer-btn" layout="column" layout-align="start center" href="/messagecenter">
				<md-icon md-svg-icon="communication:ic_message_24px"></md-icon>
				<span class="mc-home-font2">消息</span>
			</md-button>
		</md-list-item>

		<md-list-item>
			<md-button class="mc-footer-btn" layout="column" layout-align="start center" href="/userpatient">
				<md-icon md-svg-icon="social:ic_person_24px"></md-icon>
				<span class="mc-home-font2">我</span>
			</md-button>
		</md-list-item>
	</md-list>
</footer>